@model Reservator.Models.InputRestaurantModel



<br></br>
<div class="d-flex justify-content-center">
    <div>

        <div>
            <img width="650px;" src="~/imageresource/R.jpg">
        </div>
        <br></br>
        <div class="d-flex justify-content-center">
            <div style="width: 450px;">
                <p>
                    Аз съм Сезгин Айдън Салим. Уча в град Шумен. Използваните технологии при изработването на
                    сайта са MVC, .Net Core, HTML, CSS, C#, Bootstrap. Уеб приложението е изработено за 3 месеца.
                    За разработката на сайта използвах програмите Visual Studio 2022 и Sql Server Management Studio,
                    на кратко SSMS.
                </p>
            </div>
        </div>
    </div>
</div>